@charset "UTF-8";
.a_cacher {
  display: none;
}

.Icon {
  /* Permet de redimensionner en changeant la font-size de l’icône */
  width: 1em;
  height: 1em;
  /* Bel alignement visuel des icônes avec le texte */
  vertical-align: -0.15em;
  /* fill par défaut = valeur de la propriété couleur de son élément parent */
  fill: currentColor;
  /* Les paths et les strokes qui dépassent de la viewBox peuvent apparaître dans IE.
	 Si vous utilisez normalize.css, inutile de l’ajouter. */
  overflow: hidden;
}

.textcenter {
  text-align: center;
}

.flexcenter {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.mbm {
  margin-bottom: 1rem;
}

.photo img {
  width: 300px;
}

.barrnav ul {
  margin-top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.barrnav img.hamburger {
  width: 50px;
  height: 50px;
}

.barrnav li {
  list-style-type: none;
}

.barrnav li .elem, .barrnav li .elem-spe {
  text-decoration: none;
  color: black;
  background-color: #B4D143;
}

.barrnav li .elem:hover, .barrnav li .elem-spe:hover {
  background-color: #768c22;
}

.barrnav li .elem-spe {
  margin-left: 10px;
  background-color: #FBB730;
}

.barrnav li .elem-spe:hover {
  background-color: #c18204;
}

@media screen and (min-width: 768px) {
  .barrnav img.hamburger {
    display: none;
  }
  .barrnav ul {
    margin-top: 10px;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .barrnav ul li .elem, .barrnav ul li .elem-spe {
    display: inline-block;
    padding: 15px;
  }
}

@font-face {
  font-family: "Anton";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Anton-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Lato Black";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Lato-Black.ttf") format("truetype");
}

.c-orange {
  color: #FDB731;
}

.c-blue {
  color: #08B1EE;
}

.c-brown {
  color: #C3A575;
}

.c-green {
  color: #B3D143;
}

.logo {
  width: 150px;
}

body {
  margin: 0;
  font-family: 'Anton';
}

.inner {
  width: 100%;
  padding: 0 5px;
}

.logo_site {
  width: 100px;
}

.logo-header-desktop {
  display: none;
}

.bg_dotted {
  background-image: url("../img/points.svg");
}

.bg_orange {
  background-color: orange;
}

.bg_vert {
  background-color: green;
}

.lesLogos {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.lesLogos > div {
  width: 50%;
}

.lesLogos > div .unLogo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100px;
  margin: 10px;
}

button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.texte_principal {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}

.photo_texte {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 1rem;
}

.header-main {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
}

h1 {
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
}

.elem-texte {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.elem-texte > div {
  width: 50%;
  padding: 5px;
}

.elem-texte .gauche {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .inner {
    width: 768px;
    margin: 0 auto;
  }
  .photo_texte {
    -ms-flex-direction: row;
        flex-direction: row;
  }
  .texte {
    padding-left: 1rem;
  }
  .logo-header-mobile {
    display: none;
  }
  .logo-header-desktop {
    display: block;
    height: 75px;
  }
  .lesLogos > div .unLogo {
    height: 150px;
  }
}

@media screen and (min-width: 1170px) {
  .inner {
    width: 1170px;
  }
}

header {
  background-image: url("../Photos/20161202_101925.jpg");
  background-position: center;
  background-size: cover;
  height: 300px;
}

@media screen and (min-width: 768px) {
  header {
    height: 400px;
  }
}

/*# sourceMappingURL=mon_site.css.map */
